:root{
	background: #121212;
}

html {
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin:0;
	text-decoration:none;
	/*list-style:none;*/
	box-sizing: border-box;
}

body{
	font-family: "Yanone Kaffeesatz", sans-serif;
}

body a{
	color: #B99AE8;
	font-weight: bold;
}

nav{
	height: 80px;
	width: 100%;
	background:#34495e;
}


.sticky{
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

label.logo{
	font-weight: bold;
	color:white;
	padding: 0 100px;
	line-height: 80px;
}

.menu-bar{
	float:right;
	margin-right: 40px;
	text-align: center;
		display:inline-block;
		position:fixed;
		width:50%;
		height: 100vh;
		background:#2f3640;
		top:80px;
		left:-100%;		
}

.vertical-menu{
	position:absolute;
	display:block;
	background:#34495e;
	width:100%;
	height: 100vh;
	top:0px;
	left:-100%;
	/*margin-top:110px;*/
	/*border: 1px solid white;
	border-radius: 15px;*/
	
}

li:hover .vertical-menu{
	left:0;
	transition:all .5s ease;
	text-align: center;	
}

.nav-first-list{
	/*display:inline-block;*/
	margin: 0 8px;
	line-height: 40px;
	display:block;
	/*margin: 50px 0;*/
	padding:5px 0;
	border:2px solid white;
}

.nav-second-list{
	line-height: 30px;
	border:2px solid white;
	list-style-type:none;
}

/*nav ul li ul li{
	width:100%;
	border:none;
}*/
.menu-bar.show{
		left:0;
		transition:all .5s;	
}
	
nav a{
	color:white;
	font-size: 15px;
	/*text-transform: uppercase;*/
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius:3px;
}

label a{
		font-size: 35px;
}

a.active,a:hover{
	border:none;
	color: #3498db;
	transition: .5s;
}

nav #icon{
	color:white;
	/*display:none;*/
	font-size:30px;
	line-height: 80px;
	float:right;
	cursor:pointer;
	width:70px;
	justify-content:center;
	display:flex;
	align-items:center;
	background:coral;
}
.header-text{
	display: flex;
	height: 300px;
	width: 100%;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	/*animation: neon1 2.5s ease-in-out infinite alternate;*/
	letter-spacing: 12px;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 15px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de;
  }
}

/*@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}*/

@font-face {
  font-family: Poke-Font1;
  src: url('../fonts/PokemonSolid.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Poke-Font2;
  src: url('../fonts/PokemonHollow.ttf') format('truetype');
  font-display: swap;
}
.first{
	font-weight: bold;
	font-size: 50px;
	font-family: "Poke-Font2";
}

.second{
	font-size: 30px;
	font-family: "Poke-Font1";
}

.third{
	text-align: right;
}
header{
	width: 100%;
	height: 350px;
	background: -webkit-linear-gradient(to right, #1AA7D5, #010F57);
	background: linear-gradient(to right, #1AA7D5, #010F57);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-top:80px;
}
.wave{
	position: absolute;
	width: 100%;
	bottom: 0;
}

h1{
	color: #DEDEDE;
	font-size: 30px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h2{
	color: #DEDEDE;
	font-size: 28px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h3{
	color: #DEDEDE;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

h4{
	color: #DEDEDE;
	font-size: 20px;
	text-align: center;
	margin: 25px 0;
	font-family: "Poke-Font1";
	letter-spacing: 4px;
}

main p{
	color: #F9FFEE;
	margin: 0 0 25px 0;
}

img {
  filter: brightness(.8) contrast(1.2);
}
/*
				GALLERY
*/

.gallery-port{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5px;
}

.img-port{
	position: relative;
	width: 40%;
	/*height: 21%;*/
	/*margin: 20px;*/
	padding: 10px;
	/*position: relative;*/
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-port img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	display: block;
	border-radius: 15px;
}

.img-text{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
}

/*
  PRICE TAG EN FORMA DE BLOQUE SIMPLE Y CUADRADO- USAR CUANDO ES UN CONJUNTO DE IMÁGES*/
  
/*.price-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 16px;
    text-align: center;
}

/*
  USAR CUANDO ES img-port Y EN ESTRELLA*/
.price-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 180px;
  height: 180px;
    	background: -webkit-linear-gradient(to right, #FF1493, #C24CF6);
	background: linear-gradient(to right, #FF1493, #C24CF6);
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 120px; /* Ajusta este valor al mismo valor que la altura del contenedor */
  /*transform: rotate(45deg);	/*PARA HACER GIRAR LA ESTRELLA*/
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);	/*PARA HACER LA ESTRELLA*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Evita que el texto se desborde */
 /*animation: spin 6s linear infinite; /* Configura la animación de rotación*/
}

/*@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(45deg);
  }
}*/

.price-tag {
    	background: -webkit-linear-gradient(to right, #FF1493, #C24CF6);
	background: linear-gradient(to right, #FF1493, #C24CF6);
  color: #fff;
  font-size: 12px;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /*transform: rotate(-45deg); /* Invierte la rotación para que el texto esté horizontal */
}
.price-tag-number {
  font-size: 18px; /* Ajusta el tamaño de fuente según tus necesidades */
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical según tus necesidades */
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  	/*animation: neon1 2.5s ease-in-out infinite alternate;*/
}



/*
				GALLERY GRID
*/
.img-grid-2{
	width: calc(80%/2);
	/*height: 21%;*/
	/*margin: 10px;*/
	position: relative;
	padding:5px;
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-grid-2 img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	/*vertical-align:middle;*/
	/*display: block;*/
	border-radius: 15px;
}
.img-grid-3{
	width: calc(100%/3);
	/*height: 21%;*/
	/*margin: 10px;*/
	/*position: relative;*/
	padding:5px;
	cursor: pointer;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}

.img-grid-3 img{
	width: 100%;
	height: 85%;
	object-fit: cover;
	/*vertical-align:middle;*/
	/*display: block;*/
	border-radius: 15px;
}
.scrollToTopBtn {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	border-radius: 25px;
	opacity: 0.5;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}
blockquote{
		color: #DEDEDE;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
}

.galleta{
	position:fixed;
	bottom:30px;
	left:30px;
	background:#fff;
	max-width:365px;
	border-radius:15px;
	text-align: center;
	padding:25px 25px 30px 25px;	
}
.galleta.hide{
	opacity: 0;
	visibility: hidden;
	/*transition: all 0.3s ease;*/
}
.galleta img{
	max-width:90px;
	max-height:90px;
}
.galleta .contenedor-galleta{
	margin-top:10px;
}
.contenedor-galleta p{
	color:#444444;
	margin:5px 0 20px 0;
}
.contenedor-galleta .buttons{
	display:flex;
	align-items:center;
	justify-content:center;
}

.buttons .item{
	margin:0 10px;
}
.buttons button{
	padding:10px 20px;
	background:#34495e;
	border:none;
	outline:none;
	font-size:16px;
	font-weight:500;
	color:#fff;
	cursor:pointer;
	border-radius:5px;
}

.buttons a{
	color:#34495e;
}

.video{
display:flex;
text-align:center;
justify-content: space-around;
}

.simple-list{
	box-shadow: 0 0 10px  white;
	margin:20px;
	padding-left: 20px;
	list-style-type: square;
	color: white;
}

.table-of-content{
  display: flex;
  box-shadow: 0 0 10px  white;
  justify-content: center;
  align-items: flex-start;
  color:white;
  padding: 20px;
}
.table-of-content ul{
  list-style:square;
}

					/* FOOTER*/

footer{
	position: fixed bottom;
	background: #34495e;
	padding: 5px 0;
}

.content-foo{
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.content-foo a{
	color: #DEDEDE;
}

.content-foo a:hover{
	color: #3498db;
	transition: .5s;
}

.final-title{
	text-align: center;
	font-size: 24px;
	color: #DEDEDE;
	padding-top: 5px;
	margin-top: 10px;
	border-top: 5px solid white;
	font-weight: bold;
}

@media (max-width:1048px){
	label.logo{
		font-size:32px;
		padding-left:20px;
	}
	.menu-bar{
		margin-right:20px;
	}
	nav a{
		font-size:12px;
	}
		label a{
		font-size:32px;
	}
	/* gallery */
	
	.img-port{
		width: 44%;
		height: 90%;
	}
		.img-grid-2{
	width: calc(100%/2);
	}
}
@media (max-width:909px){
	.first{
		font-size: 40px;
	}

	.second{
		font-size: 25px;	
	}
	nav #icon{
	width:55px;
	/*justify-content:center;
	display:flex;
	align-items:center;
	background:coral;*/
	}
	.menu-bar{
	/*display:inline-block;
		position:fixed;*/
		width:80%;
		/*height: 100vh;
		background:#2f3640;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all .5s;*/
	}
	.nav-first-list{
		/*display:block;
		/*margin: 50px 0;*/
		/*padding:20px 0;*/
		border:2px solid white;
		/*line-height: 30px;*/
	}
	nav a{
		font-size:12px;
	}
	/*.vertical-menu{
		margin-top:70px;
	}*/
	label a{
		font-size:32px;
	}
	/*a.active,a:hover{
		border:none;
		color: #3498db;
	}*/
	/*nav ul.show{
		left:0;
	}*/
	/* gallery */
	
	.img-port{
		width: 95%;
		height: 90%;
	}

		/*  footer */
	
	.content-foo{
		margin-bottom: 10px;
		text-align: center;
		font-size: 12px
	}
	

	.final-title{
		font-size: 15px;
	}
}
